{% extends "common/layout.html" %}
{% block content %}
    <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Project Name: Things To Do </h1>
            <p class="lead">For our project, our goal is to build a web application that is able to take an audio file and
analyze it so that the tasks can be added to a to-do list. To convert the audio file into text, we
hope to find an API that will do so. In order to analyze the patterns in the text we plan on using
natural language processing. Then the tasks will be outported into our web application to a user
interface.
</p>



              <p class="lead">
                  <a href="/member/signup" class="btn btn-lg btn-default">Sign Up For Free</a>
              </p>
                <br>
                <br>
               <p class="lead">
                <img src="https://cdn.mos.cms.futurecdn.net/25UeWUrVGmuXUjnG6Yt7rj-1200-80.jpg" width="240" height="150">
               </p>
                <p>
                    Support By Zoom API
                </p>
          </div>


        </div>

      </div>

    </div>


</body>

{% endblock %}
