{% extends "common/layout.html" %}
{% block content %}
    <h1>Team Members</h1>
    <div class="row">
  <div class="col-md-2"  >
    <div class="thumbnail">
        <img src="https://bloximages.chicago2.vip.townnews.com/qctimes.com/content/tncms/assets/v3/editorial/3/3d/33d40aa8-e10b-11e8-b199-63d4d8f06cbf/5be05a8d24c92.image.jpg?resize=500%2C620" width="200" height="250" alt="alena">
      <div class="caption">
        <h3>Alena Coomar </h3>
      </div>
    </div>
  </div>

         <div class="col-md-2"  >
       <div class="thumbnail">
               <img src="https://bloximages.chicago2.vip.townnews.com/qctimes.com/content/tncms/assets/v3/editorial/3/3d/33d40aa8-e10b-11e8-b199-63d4d8f06cbf/5be05a8d24c92.image.jpg?resize=500%2C620" width="200" height="250" alt="abby">
      <div class="caption">
        <h3>Abigail Heath</h3>
        </div>
    </div>
         </div>
        <div class="col-md-2">
       <div class="thumbnail">
        <img src="https://bloximages.chicago2.vip.townnews.com/qctimes.com/content/tncms/assets/v3/editorial/3/3d/33d40aa8-e10b-11e8-b199-63d4d8f06cbf/5be05a8d24c92.image.jpg?resize=500%2C620" width="200" height="250">
      <div class="caption">
        <h3>Dong Yang</h3>
        </div>
    </div>
        </div>

        <div class="col-md-2">
       <div class="thumbnail">
           <img src="https://bloximages.chicago2.vip.townnews.com/qctimes.com/content/tncms/assets/v3/editorial/3/3d/33d40aa8-e10b-11e8-b199-63d4d8f06cbf/5be05a8d24c92.image.jpg?resize=500%2C620" width="200" height="250">
      <div class="caption">
        <h3>Jiahui Li</h3>
        </div>
    </div>
        </div>

        <div class="col-md-2">
       <div class="thumbnail">
        <img src="https://bloximages.chicago2.vip.townnews.com/qctimes.com/content/tncms/assets/v3/editorial/3/3d/33d40aa8-e10b-11e8-b199-63d4d8f06cbf/5be05a8d24c92.image.jpg?resize=500%2C620" width="200" height="250" alt="chenyu">
      <div class="caption">
        <h3>Chenyu Hu</h3>
      </div>
    </div>
        </div>
  </div>

</div>

{% endblock %}